.Product {
  margin: 35px;
  border: 1px solid;
  background-color: #2d3439;
  height: 91vh;
  padding: 0px 41px;
}
.Product .row1 {
  width: 100%;
  display: flex;
  align-items: center;
}
.title-name img {
  width: 25%;
}
.Product .buttons ul {
  display: flex;
  align-items: center;
  width: 388px;
  justify-content: space-around;
}
.Product ul li {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  cursor: pointer;
  font-size: 15px;
}
.Product ul li a {
  color: #ececec;
}
.Product ul li:nth-child(3) p {
  background-color: #00c46a;
  padding: 6px 15px;
  border-radius: 5px;
  color: black;
}

/* Row 2 */
.Product .row2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 4%;
  height: 64vh;
}
.Product .content-sec {
  width: 34%;
}
.Product .content-sec h2 {
  color: white;
  font-size: 35px;
}
.Product .content-sec p {
  color: white;
  font-size: 16px;
  margin: 34px 0px;
}
.Product .image-section {
  width: 30%;
}
.Product .image-section > img {
  width: 100%;
}
